# Database configuration
DATABASE_URL="file:./dev.db"

# GitHub Integration
GITHUB_CLIENT_SECRET="ENTER_SECRET_HERE" # Leave blank to disable GitHub login option
GITHUB_CLIENT_ID="ENTER_ID_HERE" # Leave blank to disable GitHub login option

# Server Port
PORT=3001

# Secrets
SESSION_SECRET="CHANGE_THIS"
MESSAGE_ENCRYPTION_KEY="CHANGE_THIS"

# URLs
FRONTEND_URL="http://192.168.1.xxx:5173" # Change the Xs to match your IP.