# Yarn configuration file
# Use the classic resolution algorithm
--install.network-concurrency 8

# Save exact versions in package.json
--save-exact false

# Check files integrity
--install.check-files true
